
$jugador1-color: #5db8cf;
$jugador2-color: #61cf5d;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.contenedor-tablero {
    .header-tablero {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2rem;

        h3 {
            font-size: 1.7rem;
            margin:.5rem;
            padding: 0.5rem;

            &:nth-child(1) {
                border-bottom: 3px solid $jugador1-color;
            }

            &:nth-child(2) {
                border-bottom: 3px solid $jugador2-color;
            }
            
        }

        

        
    }

    .tablero {
        display: grid;
        grid-template-rows: repeat(3, 100px);
        grid-template-columns: repeat(3,100px);
        gap: 1px;
        .casilla {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: 4rem;
            color: #fff;
        }
    }
}

