* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  font-size: 62.5%;
  color: #ddd;
}

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.title {
  color: #222;
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(45deg, #ff000098, #0000ff98);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  animation: name 5s infinite ease;
}

.board {
  display: grid;
  gap: 0.3rem;
  grid-template-columns: repeat(3, 7rem);
  grid-template-rows: repeat(3, 7rem);
}

.cell {
  cursor: pointer;
  background: #ccc;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 300;
  transition: 0.4s;
}

.cell-X {
  background: #b64b4baa;
}

.cell-O {
  background: #664bb6aa;
}

.cell-winner {
  background: #89c85f;
}

.cell-animated {
  animation: cellAnimate alternate 0.2s ease-in-out;
}

@keyframes cellAnimate {
  0% {
    font-size: 0px;
  }
  50% {
    font-size: 40px;
  }
  100% {
    font-size: 30px;
  }
}

@keyframes name {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
